<h3>{{viewTitle}}</h3>

<form action="/" method="POST" autocomplete="off">
  <input type="hidden" name="_id" value="{{editEmpData._id}}">
  <div class="input-group" style="margin-bottom: 20px;">
    <label class="input-group-addon">Full Name</label>
    <input type="text" name="fullName" class="form-control" value="{{editEmpData.fullName}}" required>
  </div>

  <div class="input-group"  style="margin-bottom: 20px;">
    <label class="input-group-addon">Email</label>
    <input type="text" name="email" class="form-control" value="{{editEmpData.email}}" required>
  </div>

  <div class="input-group"  style="margin-bottom: 20px;">
    <label class="input-group-addon">Mobile</label>
    <input type="number" name="mobile" class="form-control" style="-moz-appearance: textfield;" value="{{editEmpData.mobile}}" required>
  </div>

  <div class="input-group"  style="margin-bottom: 20px;">
    <label class="input-group-addon">City</label>
    <input type="text" name="city" class="form-control" value="{{editEmpData.city}}" required>
  </div>

  <div class="row">
    <div class="col-md-6">
       <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Submit</button>
      <a class="btn btn-info" href="/list"><i class="glyphicon glyphicon-list"></i> View All</a>
    </div>
  </div>
</form>